<h2>Current rates</h2>
<p>EUR to USD: <%= current_rates[['EUR', 'USD']] %></p>
<p>USD to EUR: <%= current_rates[['USD', 'EUR']] %></p>
<p>EUR to CHF: <%= current_rates[['EUR', 'CHF']] %></p>
<p>CHF to EUR: <%= current_rates[['CHF', 'EUR']] %></p>

<h2>Convert currency</h2>

<form>
  <p>
    Convert <input name="input_value" value="<%= conversion_amount %>" />
    <select name="from_currency">
      <option <% if from_currency == 'EUR' %>selected<% end %>>EUR</option>
      <option <% if from_currency == 'USD' %>selected<% end %>>USD</option>
      <option <% if from_currency == 'CHF' %>selected<% end %>>CHF</option>
    </select>
    to
    <select name="to_currency">
      <option <% if to_currency == 'USD' %>selected<% end %>>USD</option>
      <option <% if to_currency == 'EUR' %>selected<% end %>>EUR</option>
      <option <% if to_currency == 'CHF' %>selected<% end %>>CHF</option>
    </select>
    = <%= conversion_result.nil? ? '?' : conversion_result %>
  </p>
  <button name="submit_button" value="value" type="submit">Convert</button>
</form>

<h2>Historical rates</h2>
<%= line_chart historical_data.map {|conversion_key, data| { name: conversion_key, data: data} },
  min: min_value,
  max: max_value
%>
